*{
    margin: 0;
}



body {
    background-image: url('images/RedBlue2.jpg');
}

h1{
    font-size: 40px;
    color: black;
    background-color: white;
    padding: 20px 0;
}

li{
    display: inline-block;
}

a{
    color: white;
    font-size: 24px;
    text-decoration: none;
    padding: 20px;
}

a:hover{
    background-color: darkgray;
}

img {
    width:50%
}

h2 {

    margin: 40px 0;
    padding: 10px;
    font-size: 32px;
    color: black;
    background-color: white;
}

p {
    color:black;
    font-size: 20px;
}
