*{
    margin: 0;
}

html {
    height: 100%;  /* Ensures full height propagation */
}

body {
    background-image: url("images/RedBlue2.jpg");
    background-size: cover;          /* Fills the whole screen */
    background-position: center;      /* Centers the image */
    background-repeat: no-repeat;     /* Prevents tiling */
    background-attachment: fixed;     /* Optional: keeps it fixed on scroll */

    background-color: rgba(188, 189, 186, 0.6);  /* Your overlay */
    width: 60%;
    margin: auto;
    min-height: 100vh;
    text-align: center;
    font-family: cursive;
    padding-bottom: 50px;
}

h1{
    font-size: 40px;
    color: black;
    background-color: white;
    padding: 20px 0;
}

li{
    display: inline-block;
}

a{
    color: white;
    font-size: 24px;
    text-decoration: none;
    padding: 20px;
}

a:hover{
    background-color: darkgray;
}

img {
    width:50%
}

h2 {

    margin: 40px 0;
    padding: 10px;
    font-size: 32px;
    color: black;
    background-color: white;
}

p {
    color:black;
    font-size: 20px;
}
