*{
    margin: 0;
}

html{
    background-image: 
    url("https://duckduckgo.com/?q=fc+barcelona+background+images&atb=v314-1&t=chromentp&ia=images&iax=images&iai=http%3A%2F%2Fwww.pixelstalk.net%2Fwp-content%2Fuploads%2F2016%2F06%2FPerfect-fc-barcelona-logo-sport-wallpaper-hd.jpg") ;
    background-size: contain;
}

body{
    background-color: rgba(188, 189, 186, 0.6) ;
    width: 60%;
    margin:auto;
    min-height: 100vh;
    text-align: center;
    font-family: cursive;

    padding-bottom: 50px;
}

h1{
    font-size: 40px;
    color: black;
    background-color: white;
    padding: 20px 0;
}

li{
    display: inline-block;
}

a{
    color: white;
    font-size: 24px;
    text-decoration: none;
    padding: 20px;
}

a:hover{
    background-color: darkgray;
}

img {
    width:50%
}

h2 {

    margin: 40px 0;
    padding: 10px;
    font-size: 32px;
    color: black;
    background-color: white;
}

p {
    color:black;
    font-size: 20px;
}
